$topBarHeight: 45px;
$scrollBarHeight: 28px;

body {
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100vh - $scrollBarHeight);
    margin-top: 0;
    margin-bottom: 0;
}

#top-bar {
    height: $topBarHeight;

    h1 {
        margin: 0;
        margin-top: 10px;
    }
}

.grid-stack {
    background: #FAFAD2;
    height: calc(100vh - $topBarHeight - $scrollBarHeight);
    transition: none;
    overflow-y: hidden;
}

.grid-stack-item-content {
    background-color: #18BC9C;
    border: black 1px solid;
    box-sizing: border-box;
}

// calculate width of grid-stack-item 
$columns: 50;

@function fixed($float) {
    @return calc(round($float * 100) / 100); // total 4 digits being %
}

.grid-stack-#{$columns}>.grid-stack-item {

    min-width: fixed(calc(100% / $columns));

    @for $i from 1 through $columns - 1 {
        &[gs-x='#{$i}'] {
            left: fixed(calc(100% / $columns) * $i);
        }

        &[gs-w='#{$i+1}'] {
            width: fixed(calc(100% / $columns) * ($i+1));
        }
    }
}