/* stylelint-disable no-descending-specificity */
$top-bar-height: 56px;
$scroll-bar-height: 28px;
$module-size-px: calc((100vh - $top-bar-height) / 2);

body {
    font-family: Arial, Helvetica, sans-serif !important;
    height: calc(100vh - $scroll-bar-height);
    margin: 0;
    overflow-y: hidden;
    background: #f5f5f5;
}

#top-bar {
    height: $top-bar-height;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 102;
    user-select: none;

    .navbar-brand {
        font-weight: bold;
    }
}

.grid-stack {
    margin-top: $top-bar-height;
    background: #f5f5f5;
    height: calc(100vh - $top-bar-height - $scroll-bar-height);
    transition: none;
    overflow-y: hidden;

    &[connect-to="in"] {
        .plug-button[type="out"] {
            filter: contrast(30%);
            opacity: 0.8;
        }
    }

    &[connect-to="out"] {
        .plug-button[type="in"] {
            filter: contrast(30%);
            opacity: 0.8;
        }
    }

    .plug-button[type="out"][selected="true"],
    &[connect-to="out"] .plug-button[type="out"][hover="true"] {
        filter: none;
        opacity: 1;

        &::after {
            position: absolute;
            top: calc(($module-size-px / 11) * (-0.1));
            left: -10%;
            width: 120%;
            height: calc(($module-size-px / 11) * 1.2);
            content: '';
            pointer-events: none;
            border: rgba($color: #000, $alpha: 15%) calc($module-size-px / 90) solid;
            border-radius: calc($module-size-px / 30);
            box-sizing: border-box;
        }
    }

    .plug-button[type="in"][selected="true"],
    &[connect-to="in"] .plug-button[type="in"][hover="true"] {
        filter: none;
        opacity: 1;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc($module-size-px / 11);
            content: '';
            pointer-events: none;
            border: rgba($color: #000, $alpha: 15%) calc($module-size-px / 70) solid;
            box-sizing: border-box;
            border-radius: 100%;
        }
    }

    .plug-adjust .plug-button[type="in"][selected="true"]::after,
    &[connect-to="in"] .plug-adjust .plug-button[type="in"][hover="true"]::after {
        top: 0;
    }
}

.grid-stack-item-content {
    background-color: white;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: black 2px solid;
        box-sizing: border-box;
        opacity: .6;
        pointer-events: none;
    }
}

// calculate width of grid-stack-item 
$columns: 50;

@function fixed($float) {
    @return calc(round($float * 100) / 100); // total 4 digits being %
}

.grid-stack-#{$columns}>.grid-stack-item {
    min-width: fixed(calc(100% / $columns));

    @for $i from 1 through $columns - 1 {
        &[gs-x='#{$i}'] {
            left: fixed(calc(100% / $columns) * $i);
        }

        &[gs-w='#{$i + 1}'] {
            width: fixed(calc(100% / $columns) * ($i + 1));
        }
    }
}

.module {
    overflow: hidden;
    height: 100%;
    position: relative;
    background: #ddd;

    .delete-button {
        position: absolute;
        right: calc($module-size-px / 150);
        top: calc($module-size-px / 150);
        padding: 0;
        border: none;
        
        span {
            font-size: calc($module-size-px / 24) !important;
            margin: 0;
            line-height: unset;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        position: absolute;
        margin: 0;
        font-size: calc($module-size-px / 27);
        transform: translate(-50%);
        width: 100%;
        text-align: center;
        cursor: default;
        font-weight: bold;
        pointer-events: none;
    }

    .rotary-knob {
        position: absolute;
        transform: translate(-50%);
        display: grid;
        width: calc($module-size-px / 2);
        pointer-events: none;

        .input-knob {
            height: calc($module-size-px / 7) !important;
            width: calc($module-size-px / 7) !important;
            border-radius: 100%;
            margin-left: 50%;
            transform: translate(-50%);
            margin-bottom: calc(($module-size-px / 60) * (-1));
            pointer-events: all;

            &:focus-visible {
                outline: none;
                border: none;
            }
        }

        div {
            position: relative;
            width: calc($module-size-px / 2);
            text-align: center;

            a {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%);
                font-size: calc($module-size-px / 40);
                pointer-events: none;
                opacity: 0.9;
                font-weight: bold;
            }
        }
    }

    .input-slider {
        position: absolute;
        transform: translate(-50%);
    }

    .plug {
        position: absolute;
        display: grid;
        width: calc($module-size-px / 2);
        transform: translate(-50%);
        pointer-events: none;

        .plug-button {
            width: calc($module-size-px / 11);
            height: calc($module-size-px / 11);
            background: none;
            border: none;
            background-image: url('../assets/plug_1.png');
            background-size: contain;
            margin-left: 50%;
            transform: translate(-50%);
            pointer-events: all;
    
            &:focus-visible {
                outline: none;
                border: none;
            }
    
            &[type="in"] {
                border-radius: 100%;
            }
    
            &[type="out"] {
                background-color: rgba($color: #222, $alpha: 70%);
                border-radius: calc($module-size-px / 40);
                margin-bottom: calc(($module-size-px / 120));
            }
        }

        div {
            position: relative;
            width: calc($module-size-px / 2);
            text-align: center;

            a {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%);
                font-size: calc($module-size-px / 40);
                pointer-events: none;
                opacity: .9;
                font-weight: bold;
            }
        }
    }

    .plug-adjust {
        position: absolute;        
        display: grid;
        width: calc($module-size-px / 2);
        transform: translate(-50%);
        pointer-events: none;

        .input-knob {
            height: calc($module-size-px / 11) !important;
            width: calc($module-size-px / 11) !important;
            border-radius: 100%;
            margin-bottom: calc(($module-size-px / 120) * (-1));
            z-index: 1;
            margin-left: 50%;
            transform: translate(-49%);
            pointer-events: all;

            &:focus-visible {
                outline: none;
                border: none;
            }

            &::after {
                position: absolute;
                content: '';
                top: calc($module-size-px / 14);
                left: 50%;
                width: calc($module-size-px / 200);
                opacity: 0.5;
                height: calc($module-size-px / 40);
                background-color: black;
                transform: translate(-50%);
                z-index: 0;
                pointer-events: none;
            }
        }

        .plug-button {
            width: calc($module-size-px / 11);
            height: calc($module-size-px / 11);
            background: none;
            border: none;
            background-image: url('../assets/plug_1.png');
            background-size: contain;
            z-index: 1;
            margin-left: 50%;
            transform: translate(-50%);
            pointer-events: all;
    
            &:focus-visible {
                outline: none;
                border: none;
            }
    
            &[type="in"] {
                border-radius: 100%;
            }
    
            &[type="out"] {
                background-color: rgba($color: #222, $alpha: 90%);
                border-radius: calc($module-size-px / 60);
                margin-bottom: 9%;
            }
        }

        div {
            position: relative;
            width: calc($module-size-px / 2);
            text-align: center;

            a {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%);
                font-size: calc($module-size-px / 40);
                pointer-events: none;
                opacity: 0.9;
                font-weight: bold;
            }
        }
    }

    .bg {
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
    }

    .visualizer {
        position: absolute;
        width: 80%;
        left: 10%;
        height: 66%;
        border: #000 2px solid;
    }
}

#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 101 !important;

    path {
        stroke-width: calc($module-size-px / 50);
        opacity: 0.8;

        &.path-shadow {
            opacity: 0.07;
        }
    }

    circle {
        stroke-width: 0;
        r: calc($module-size-px / 45);

        &.path-color-0 {
            fill: #f6b849;
        }
    
        &.path-color-1 {
            fill: #e4513f;
        }
    
        &.path-color-2 {
            fill: #4b6aba;
        }
    
        &.path-color-3 {
            fill: #7ddf92;
        }

        &.dot {
            r: calc($module-size-px / 80);
        }
    }

    .path-color-0 {
        stroke: #f6b849;
    }

    .path-color-1 {
        stroke: #e4513f;
    }

    .path-color-2 {
        stroke: #4b6aba;
    }

    .path-color-3 {
        stroke: #7ddf92;
    }
}

.module-editor {
    position: fixed;
    right: -100%;
    top: $top-bar-height;
    width: 100%;
    max-width: 900px;
    height: calc((100vh - $top-bar-height - $scroll-bar-height) + 6px);
    background-color: white;
    z-index: 101;
    transition: right .5s ease;
    padding: 1em;
    box-shadow: -7px 0 11px -8px rgba($color: black, $alpha: 30%);

    .editor-close-button {
        position: fixed;
        top: calc($top-bar-height + 10px);
        right: -200px;
        padding-top: 6px;
        transition: right .3s ease;
        z-index: 102;
    }

    &.move-up {
        right: 0;

        .editor-close-button {
            transition: right .3s ease .2s;
            right: 25px;
        }
    }

    .info-button {
        font-size: 17pt;
    }

    .code-area {
        font-family: monospace;
        white-space: nowrap;
        tab-size: 2;
        background: url("http://i.imgur.com/2cOaJ.png");
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: 28.143px;
        background-position-y: -2px;
        background-color: white;
        padding-left: 38px;
        padding-top: 10px;
        border-color:#ccc;
        line-height: 1.3;
        font-size: 10pt;
        border-radius: 4px;
    }

    .pre-js-code, .post-js-code {
        resize: none;
        background: none;
        background-color: #f0f0f0 !important;
        padding-left: 12px;
    }

    .pre-js-code {
        border-bottom: none;
        border-radius: 4px 4px 0 0;
    }

    .post-js-code {
        border-top: none;
        border-radius: 0 0 4px 4px;
    }

    .parameter-input-name {
        width: 85px !important
    }

    .parameter-input-number {
        width: 60px !important;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .parameter-input-type {
        width: 80px !important;
    }
    
}