/* stylelint-disable no-descending-specificity */
$top-bar-height: 45px;
$scroll-bar-height: 28px;
$module-size-px: calc((100vh - $top-bar-height) / 2);

body {
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100vh - $scroll-bar-height);
    margin: 0;
}

#top-bar {
    height: $top-bar-height;

    h1 {
        margin: 0;
        margin-top: 10px;
    }
}

.grid-stack {
    background: #f5f5f5;
    height: calc(100vh - $top-bar-height - $scroll-bar-height);
    transition: none;
    overflow-y: hidden;

    &[connect-to="in"] {
        .plug-button[type="out"] {
            filter: contrast(30%);
            opacity: 0.8;
        }
    }

    &[connect-to="out"] {
        .plug-button[type="in"] {
            filter: contrast(30%);
            opacity: 0.8;
        }
    }

    .plug-button[type="out"][selected="true"],
    &[connect-to="out"] .plug-button[type="out"][hover="true"] {
        filter: none;
        opacity: 1;

        &::after {
            position: absolute;
            top: calc(($module-size-px / 11) * (-0.1));
            left: -10%;
            width: 120%;
            height: calc(($module-size-px / 11) * 1.2);
            content: '';
            pointer-events: none;
            border: rgba($color: #000, $alpha: 15%) calc($module-size-px / 90) solid;
            border-radius: calc($module-size-px / 30);
            box-sizing: border-box;
        }
    }

    .plug-button[type="in"][selected="true"],
    &[connect-to="in"] .plug-button[type="in"][hover="true"] {
        filter: none;
        opacity: 1;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc($module-size-px / 11);
            content: '';
            pointer-events: none;
            border: rgba($color: #000, $alpha: 15%) calc($module-size-px / 70) solid;
            box-sizing: border-box;
            border-radius: 100%;
        }
    }

    .plug-adjust .plug-button[type="in"][selected="true"]::after,
    &[connect-to="in"] .plug-adjust .plug-button[type="in"][hover="true"]::after {
        top: calc(($module-size-px / 11) - ($module-size-px * 0.007)) !important;
    }
}

.grid-stack-item-content {
    background-color: white;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: black 2px solid;
        box-sizing: border-box;
        opacity: .3;
        pointer-events: none;
    }
}

// calculate width of grid-stack-item 
$columns: 50;

@function fixed($float) {
    @return calc(round($float * 100) / 100); // total 4 digits being %
}

.grid-stack-#{$columns}>.grid-stack-item {
    min-width: fixed(calc(100% / $columns));

    @for $i from 1 through $columns - 1 {
        &[gs-x='#{$i}'] {
            left: fixed(calc(100% / $columns) * $i);
        }

        &[gs-w='#{$i + 1}'] {
            width: fixed(calc(100% / $columns) * ($i + 1));
        }
    }
}

.module {
    overflow-y: hidden;
    height: 100%;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5 {
        position: absolute;
        margin: 0;
        font-size: calc($module-size-px / 27);
        transform: translate(-50%);
        width: 100%;
        text-align: center;
        cursor: default;
    }

    .rotary-knob {
        position: absolute;
        transform: translate(-50%);
        display: inline-grid;
        width: calc($module-size-px / 7);

        .input-knob {
            height: calc($module-size-px / 7) !important;
            width: calc($module-size-px / 7) !important;
            border-radius: 100%;
            transform: translate(-1%);
            margin-bottom: -12%;

            &:focus-visible {
                outline: none;
                border: none;
            }
        }

        a {
            text-align: center;
            font-size: calc($module-size-px / 40);
            pointer-events: none;
            opacity: 0.75;
            font-weight: bold;
        }
    }

    .input-slider {
        position: absolute;
        transform: translate(-50%);
    }

    .plug {
        position: absolute;
        transform: translate(-50%);
        display: inline-grid;
        width: calc($module-size-px / 11);

        .plug-button {
            width: calc($module-size-px / 11);
            height: calc($module-size-px / 11);
            background: none;
            border: none;
            background-image: url('../assets/plug_1.png');
            background-size: contain;
    
            &:focus-visible {
                outline: none;
                border: none;
            }
    
            &[type="in"] {
                border-radius: 100%;
            }
    
            &[type="out"] {
                background-color: rgba($color: #222, $alpha: 70%);
                border-radius: calc($module-size-px / 40);
                margin-bottom: 9%;
            }
        }

        a {
            text-align: center;
            font-size: calc($module-size-px / 40);
            pointer-events: none;
            opacity: 0.75;
            font-weight: bold;
        }
    }

    .plug-adjust {
        position: absolute;
        transform: translate(-50%);
        display: inline-grid;
        width: calc($module-size-px / 11);

        .input-knob {
            height: calc($module-size-px / 11) !important;
            width: calc($module-size-px / 11) !important;
            margin-left: 1%;
            border-radius: 100%;
            margin-bottom: -13%;
            z-index: 1;

            &:focus-visible {
                outline: none;
                border: none;
            }

            &::after {
                position: absolute;
                content: '';
                top: 35%;
                left: 50%;
                width: calc($module-size-px / 200);
                opacity: 0.5;
                height: calc($module-size-px / 40);
                background-color: black;
                transform: translate(-50%);
                z-index: 0;
            }
        }

        .plug-button {
            width: calc($module-size-px / 11);
            height: calc($module-size-px / 11);
            background: none;
            border: none;
            background-image: url('../assets/plug_1.png');
            background-size: contain;
            z-index: 1;
    
            &:focus-visible {
                outline: none;
                border: none;
            }
    
            &[type="in"] {
                border-radius: 100%;
            }
    
            &[type="out"] {
                background-color: rgba($color: #222, $alpha: 90%);
                border-radius: calc($module-size-px / 60);
                margin-bottom: 9%;
            }
        }

        a {
            text-align: center;
            font-size: calc($module-size-px / 40);
            pointer-events: none;
            opacity: 0.75;
            font-weight: bold;
        }
    }

    .bg {
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
    }
}

#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 101 !important;

    path {
        stroke-width: calc($module-size-px / 50);
        opacity: 0.8;

        &.path-shadow {
            opacity: 0.07;
        }
    }

    circle {
        stroke-width: 0;
        r: calc($module-size-px / 45);

        &.path-color-0 {
            fill: #f6b849;
        }
    
        &.path-color-1 {
            fill: #e4513f;
        }
    
        &.path-color-2 {
            fill: #4b6aba;
        }
    
        &.path-color-3 {
            fill: #7ddf92;
        }

        &.dot {
            r: calc($module-size-px / 80);
        }
    }

    .path-color-0 {
        stroke: #f6b849;
    }

    .path-color-1 {
        stroke: #e4513f;
    }

    .path-color-2 {
        stroke: #4b6aba;
    }

    .path-color-3 {
        stroke: #7ddf92;
    }
}